// Cart
.widget_shopping_cart {
  border: rem(1) solid $white !important;

  .widget-title {
    margin-bottom: 0;
    padding: rem(15 0 11 36);
    color: $white;
    border-bottom: 0;
  }
}

.widget_shopping_cart_content {
  color: $white;
  background: $blue;

  .product_list_widget {
    li {
      a {
        &.remove {
          + a {
            &:hover {
              color: $white !important;
            }
          }
        }
      }
    }

    .mini_cart_item {
      a {
        &.remove {
          + a {
            &:hover {
              color: $white !important;

              .site-header-cart & {
                color: $white !important;
              }
            }
          }
        }
      }

      .quantity {
        .site-header-cart & {
          display: inline-block;
          padding-top: rem(2);
          padding-left: rem(20);
        }
      }
    }
  }

  a {
    color: $white !important;
    font-weight: 300 !important;
  }

  span,
  strong,
  p {
    color: inherit;
  }

  span {
    &.quantity {
      color: $white !important;
      font-weight: 300;
    }
  }
}

.widget_shopping_cart {
  p {
    &.total {
      .site-header-cart & {
        color: $white;
        border-top: rem(1) solid $white;
        border-bottom: rem(1) solid $white;
      }
    }

    &.total,
    &.buttons {
      .site-header-cart & {
        background: $blue;
      }
    }
  }
}

.site-header-cart {
  p {
    &.woocommerce-mini-cart__buttons.buttons {
      // background-color: $blue-dark;
      background-color: $gray-light;
    }
  }

  .widget_shopping_cart {
    .product_list_widget {
      .mini_cart_item {
        a {
          &.remove {
            &:before {
              color: $white;
            }
          }
        }
      }
    }

    p {
      &.buttons {
        .button {
          @include button-global();
          @extend %button-solid;
        }
      }
    }
  }
}

// This is the card page.
.woocommerce-cart {
  table {
    tbody {
      tr {
        td {
          &:not(:first-child) {
            @include small-only() {
              border-top: 0;
            }
          }
        }
      }
    }

    &.cart {
      td,
      th {
        // This is a special case
        @include breakpoint($medium 890px) {
          padding-right: 0.875em;
          padding-left: 0.875em;
        }
      }

      td {
        &.product-remove {
          a {
            &.remove {
              @include small-only() {
                top: rem(22);
                right: rem(7);
              }
            }
          }
        }
      }
    }
  }
}
