// Footer links 75% opacity and full opacity on hover.
%footer-link {
  opacity: 0.75;
  color: $white !important;

  &:hover {
    opacity: 1;
  }
}

footer {
  background-color: $blue !important;

  .block {
    img {
      &.image {
        opacity: .9;
      }

      &.image {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .widget_nav_menu li.menu-item > a {
    font-size: rem(14);
  }

  .site-info-container {
    float: right;
    padding-left: rem(20);
    font-size: rem(14);
    color: $white;
    position: relative;
    top: rem(8);
  }

  .widget {
    .widget-title {
      border-bottom: none;
      margin-bottom: rem(0);
      font-size: rem(20);
    }
  }

  .menu-social-icons-menu-container {
    top: rem(-10) !important;
    position: relative;
  }

  // hide title for logo widget in footer
  .footer-logo {
    .widget-title {
      display: none;
    }
  }

  select{
    &#product_cat {
      color: #555555;
    }
  }

  .widget_nav_menu {
    li {
      padding-left: 0;

      &.menu-item {
        > a {
          @extend %footer-link;
          // opacity: 0.75;
          // color: $white !important;
          //
          // &:hover {
          //   opacity: 1;
          // }
        }
      }
    }
  }

  .secondary-navigation {
    ul {
      &.menu {
        a {
          @extend %footer-link;

          &:hover {
            color: $white !important;
          }
        }
      }
    }
  }
}


// Headings
footer * {
  &:not(option) {
    color: $white;
  }
}

.site-footer {
  input {
    &[type="search"] {
      &:focus,
      &:active {
        color: $black;
      }
    }
  }

  .footer-widgets {
    @include small-only() {
      padding-top: 0;
    }

    .block {
      @include small-only() {
        padding: rem(40) 0 0;
      }
    }

    .widget {
      a {
        &:not(.button) {
          font-weight: 400;
        }
      }
    }
  }
}


.footer-widgets {
  &.col-4 {
    @include medium-small() {
      display: flex;
      justify-content: stretch;

      .block {
        float: none !important;
        width: auto;
        margin-right: 3%;
        flex-grow: 1;
      }

      .footer-logo,
      .widget_product_categories {
        width: rem(180);
      }
    }
  }
}
