.woocommerce-breadcrumb,
.widget .widget-title,
.widget .widgettitle,
.storefront-product-section {
  border-bottom-color: $blue;
}

.storefront-product-section {
  border-bottom-width: rem(2);
}

.storefront-sorting {
  &:last-child {
    border-top: solid rem(1) $blue;
  }
}

.single-product {
  div {
    &.product {
      .product_meta {
        border-top: none;
      }
    }
  }
}
