// Fonts

// Graphik Web:
@font-face {
	font-family: 'Graphik Web';
	src: url('assets/fonts/Graphik-Bold-Web.eot');
	src: url('assets/fonts/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Graphik-Bold-Web.woff2') format('woff2'), url('assets/fonts/Graphik-Bold-Web.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('assets/fonts/Graphik-Medium-Web.eot');
	src: url('assets/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Graphik-Medium-Web.woff2') format('woff2'), url('assets/fonts/Graphik-Medium-Web.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('assets/fonts/Graphik-Regular-Web.eot');
	src: url('assets/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Graphik-Regular-Web.woff2') format('woff2'), url('assets/fonts/Graphik-Regular-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('assets/fonts/Graphik-LightItalic-Web.eot');
	src: url('assets/fonts/Graphik-LightItalic-Web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Graphik-LightItalic-Web.woff2') format('woff2'), url('assets/fonts/Graphik-LightItalic-Web.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('assets/fonts/Graphik-Light-Web.eot');
	src: url('assets/fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Graphik-Light-Web.woff2') format('woff2'), url('assets/fonts/Graphik-Light-Web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'playfair_display';
	src: url('assets/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
  color: $gray-dark;
  font-size: rem(14) !important;
  line-height: 1.5;
}

p,
form {
  font-size: rem(14);
  line-height: 1.4;
}

// content font size is 14px
.woocommerce-breadcrumb {
  font-size: rem(14);
  line-height: rem(20);
}
.hentry {
  .entry-content {
    font-size: rem(14);
    line-height: rem(20);
  }
}

// sidebar widgets
.widget-area {
  .widget {
    font-size: rem(14);
    line-height: rem(20);

    a:not(.button) {
      text-decoration: none;
    }

    a:not(.button):hover {
      color: $blue !important;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: none !important;
}

h1 {
  font-size: rem(32) !important;
  // line-height: rem(100);
}
h2 {
  font-size: rem(20) !important;
  // line-height: rem(58);
}
h3 {
  // font-size: rem(32);
  // line-height: rem(48);
}
h4 {
  // font-size: rem(30);
  // line-height: rem(30);
}

a {
	color: $blue;

	&:hover {
		color: $blue-dark;
	}

  &:focus {
    outline: none;
  }
}

.widget-area .widget a,
.hentry .entry-header .posted-on a,
.hentry .entry-header .byline a,
ul.menu li.current-menu-item > a,
table tbody td a {
	color: $blue;

	&:hover {
		color: $blue-dark;
	}
}
